
@{
    ViewBag.Title = "GioHangEmpty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Đã có lỗi xảy ra </h1>
<h2>Đơn hàng bạn đang bị trống</h2>
<div class="btn btn-default">
    @Html.ActionLink("Về Trang Chủ","Index","Home")
</div>


<style>
    h1 {
        color: red;
    }

    h2 {
        color: black;
    }
</style>


