
@{
    ViewBag.Title = "XacnhanDonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cảm ơn bạn đã mua hàng của chúng tôi</h1>
<h2>Đơn hàng đã được xác nhận</h2>
<h3>Chúng tôi sẽ giao hàng cho bạn sớm nhất có thể !</h3>
<h4>Rất hân hạnh được phục vụ quý khách hàng</h4>
<p>
    @Html.ActionLink("Về trang chủ", "Index", "Home")
</p>

