@{
    ViewBag.Title = "About";
}


<main >

    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">Tin Tức</h1>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="https://vnn-imgs-f.vgcloud.vn/2019/09/27/11/lamborghini-aventador-svj-gia-60-ty-doc-nhat-viet-nam-1.jpg " alt="Lamborghini Aventador SVJ 60 tỷ"
                             style="height:200px; width:300px;" alt="Main Picture" />
                        <p> Sắm Lamborghini Aventador SVJ 60 tỷ, chất chơi đại gia Hà Nội</p>
                        <a class="btn btn-outline-dark" href="https://vietnamnet.vn/sam-lamborghini-aventador-svj-60-ty-chat-choi-dai-gia-ha-noi-571780.html" target="_blank">Learn more &raquo;</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTymDm5gDw9vU2GAKI_XCp3WmRGynLT8RC2WEU2k01EfzRPYDwabEEHWevlkUspt6GgD4&usqp=CAU " alt="Ferrari 488 Spider"
                             style="height:200px; width:300px;" alt="Main Picture" />
                        <p>Khám phá Ferrari 488 Spider: siêu xe mui trần ít được đại gia Việt ưa chuộng</p>
                        <a class="btn btn-outline-dark" href="https://cafeauto.vn/kham-pha/kham-pha-ferrari-488-spider-mot-thoi-cua-cuong-do-la-sieu-xe-mui-tran-it-duoc-dai-gia-viet-ua-chuong-33907.html" target="_blank">Learn more &raquo;</a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="https://phancongkhanh.vn/upload/elfinder/New%20Folder%20With%20Items%202/K-Supper%20Lamborghini%20Huracan%20STO42.jpg " alt="Lamborghini Huracan STO"
                             style="height:200px; width:300px;" alt="Main Picture" />
                        <p>Lamborghini Huracan STO đầu tiên tại Việt Nam</p>
                        <a class="btn btn-outline-dark" href="https://phancongkhanh.vn/k-supper-dua-ve-viet-nam-chiec-lamborghini-huracan-sto-dau-tien" target="_blank">Learn more &raquo;</a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="https://mercedesxesang.net/wp-content/uploads/2021/12/z3578552500508_1a3141938762fe07ba36b10e9d25da62.jpg " alt="Mercedes C300 AMG 2022"
                             style="height:200px; width:300px;" alt="Main Picture" />
                        <p>Mercedes C300 AMG 2022  thường thấy trên dòng S-Class của Mercedes Benz</p>
                        <a class="btn btn-outline-dark" href="https://mercedesxesang.net/xe/mercedes-c300-amg/" target="_blank">Learn more &raquo;</a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="https://www.bmwhaiphong.vn/wp-content/uploads/sites/26/2019/05/Thie%CC%82%CC%81t-ke%CC%82%CC%81-chu%CC%9Ba-co%CC%81-te%CC%82n-min.png " alt="BMW X5"
                             style="height:200px; width:300px;" alt="Main Picture" />
                        <p>Ngắm BMW X5 biển 'sảnh rồng' của đại gia hải dương được trả giá 10 tỷ vẫn không bán</p>
                        <a class="btn btn-outline-dark" href="https://vietnamnet.vn/dai-gia-hai-duong-so-huu-bmw-x5-bien-so-dep-nhat-viet-nam-2107875.html" target="_blank">Learn more &raquo;</a>

                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="https://dailyxetaihyundai.vn/public/userfiles/images/kia-soluto-cu-2021.jpeg"
                             style="height:200px; width:300px;" alt="Main Picture" />
                        <p>Đây là mẫu xe của hàn quốc, được lắp ráp tại việt nam, bởi nhà máy thaco trường hải</p>
                        <a class="btn btn-outline-dark" href="https://dailyxetaihyundai.vn/san-pham/thu-mua-xe-o-to-cu-kia-soluto-cu-da-qua-su-dung.html" target="_blank">Learn more</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="https://i1-vnexpress.vnecdn.net/2023/05/25/VinFast-VF-8-1964-1684999967.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=ZHmzyPYe4eHqv9weG81XEg"
                             style="height:200px; width:300px;" alt="Main Picture" />
                        <p>Hãng xe Việt đang gọi về sửa lỗi phần mềm với những xe đầu tiên bán ra ở thị trường Mỹ</p>
                        <a class="btn btn-outline-dark" href="https://vnexpress.net/vinfast-trieu-hoi-vf-8-loi-man-hinh-tai-my-4609545.html" target="_blank">Learn more &raquo;</a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="https://s.bonbanh.com/uploads/users/413648/salon/l_1578637730.jpg"
                             style="height:200px; width:300px;" alt="Main Picture" />
                        <p>Xe mới lắp ráp trong nước, màu đỏ,máy xăng, số tự động giá thị trường</p>
                        <a class="btn btn-outline-dark" href="https://kiatansonnhat.bonbanh.com/" target="_blank">Learn more &raquo;</a>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-2">
                    <div class="rent-item mb-4">
                        <img class="img-fluid mb-4" src="https://s.bonbanh.com/uploads/users/413648/car/4691980/m_1668585418.612.jpg"
                             style="height:200px; width:300px;" alt="Main Picture" />
                        <p> Kia Carens thế hệ mới cuốn hút ngay từ ánh nhìn đầu tiên với các chi tiết tỉ mỉ và sắc nét</p>
                        <a class="btn btn-outline-dark" href="https://kiatansonnhat.bonbanh.com/" target="_blank">Learn more &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>